:root {
  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}

	50% {
    opacity: 0.5;
	}

	100% {
    opacity: 1;
	}
}
